version: '3.8'

services:
  app:
    build: .
    container_name: b3_etl_container
    # Mantive seu comando original
    command: tail -f /dev/null
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    