##########################################
# EXTRAÇÃO E MANIPULAÇÃO DE DADOS
##########################################
yfinance==0.2.52
pandas==2.2.3
numpy==1.26.4

##########################################
# QUALIDADE E VALIDAÇÃO (DATA QUALITY)
##########################################
pydantic==2.10.6

##########################################
# BANCO DE DADOS E PERSISTÊNCIA
##########################################
sqlalchemy==2.0.37
psycopg2-binary==2.9.10

##########################################
# INFRAESTRUTURA E LOGS
##########################################
python-dotenv==1.0.1
loguru==0.7.3

##########################################
# TESTES
##########################################
pytest==8.3.4
requests==2.31.0
matplotlib==3.8.2