##########################################
# EXTRAÇÃO E MANIPULAÇÃO DE DADOS
##########################################
# Removido yfinance por instabilidade de bloqueio de IP
pandas==2.2.3
numpy==1.26.4
requests==2.31.0

##########################################
# QUALIDADE E VALIDAÇÃO (DATA QUALITY)
##########################################
pydantic==2.10.6

##########################################
# BANCO DE DADOS E PERSISTÊNCIA
##########################################
sqlalchemy==2.0.37
psycopg2-binary==2.9.10

##########################################
# INFRAESTRUTURA E LOGS
##########################################
python-dotenv==1.0.1
loguru==0.7.3

##########################################
# VISUALIZAÇÃO E TESTES
##########################################
matplotlib==3.8.2
pytest==8.3.4